.auth_window, .reg_window, .auth_window form, .reg_window form{
    width: 320px;
    height: 400px;
}

.auth_window input, .reg_window input{
    width: 295px;
    text-align: center;
    background: rgba(223, 230, 233,0.2);
    border-radius: 15px;
    color: #fff;
}

input::placeholder{
    color: #fff;
}